html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgray;
}
#home{
  justify-self: flex-start;
  position: absolute;
  left: 15px;
  color: black;
  font-size: 32px;
}
#home:hover{
  color: rgba(119, 0, 255, 0.562);
}
#post  {
  min-height:150px;
}
.postBtn{
  min-width: 150px;
}

.recent{
  text-align: center;
  margin-top: 2%;
}